.header__promo {
  width: 100%;
  color: #fff;
  background-color: var(--main-color);
}

.header__promo-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 8px;
}

.header__promo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  line-height: 1.3;
  text-align: center;
}

.header__promo-link {
  color: #fff;
  text-decoration: underline;
}

.header__promo-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.header__promo-icon {
  display: block;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

@media (width > 992px) {
  .header__promo-inner {
    min-height: 38px;
  }

  .header__promo-text {
    flex-wrap: wrap;
    font-size: 14px;
  }

  .header__promo-link {
    margin-left: 4px;
  }
}

@media (width <= 992px) {
  .header__promo-inner {
    min-height: 34px;
    padding-inline: 16px;
  }

  .header__promo-text {
    padding-inline: 10px 20px;
    font-size: 12px;
  }

  .header__promo-text-main {
    display: none;
  }

  .header__promo-link {
    font-size: 12px;
  }

  .header__promo-icon {
    width: 14px;
    height: 14px;
  }
}
