.sales-leaders__list {
  display: grid;
}

.sales-leaders__cards {
  min-width: 0;
}

@media (width <= 768px) {
  .sales-leaders__cards:nth-child(3) {
    display: none;
  }

  .sales-leaders__cards:nth-child(4) {
    display: none;
  }
}

.sales-leaders__img {
  display: block;
  width: 100%;
}

.sales-leaders__info-text {
  margin-top: 16px;
  font-weight: 700;
}

.sales-leaders__score {
  display: flex;
  align-items: center;
}

.sales-leaders__score-stars {
  width: 18px;
  height: 17px;
}

.sales-leaders__score-star {
  width: 9px;
  height: 17px;
}

.sales-leaders__score-info-color {
  color: var(--secondary-color);
}

.sales-leaders__price {
  font-weight: 700;
}

.sales-leaders__price-color {
  text-decoration: line-through;
  color: var(--disabled-color);
}

@media (width > 992px) {
  .sales-leaders__title {
    margin-top: 64px;
    margin-bottom: 55px;
  }

  .sales-leaders__list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
  }

  .sales-leaders__info-text {
    font-size: 20px;
  }

  .sales-leaders__score {
    margin-block: 8px;
    gap: 5px;
  }

  .sales-leaders__score-info {
    padding-left: 8px;
  }

  .sales-leaders__price {
    font-size: 24px;
  }
}

@media (width <= 992px) {
  .sales-leaders__title {
    margin-top: 42px;
    margin-bottom: 32px;
  }

  .sales-leaders__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px 16px;
  }

  .sales-leaders__info-text {
    font-size: 15px;
  }

  .sales-leaders__score {
    flex-wrap: wrap;
    margin-block: 6px;
    gap: 4px;
  }

  .sales-leaders__score-info {
    padding-left: 4px;
    font-size: 12px;
  }

  .sales-leaders__price {
    font-size: 18px;
  }
}
