.page__body {
  font-family: var(--font-family);
  color: var(--main-color);
  font-weight: 400;
  background-color: #fff;
  min-width: 390px;
}

.page__body.no-scroll {
  overflow: hidden;
}

.container {
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
}

.text-regular {
  font-size: 16px;
  line-height: 138%;
  color: var(--main-color);
}

.title-center {
  font-family: var(--second-family);
  font-weight: 900;
  text-align: center;
  color: var(--main-color);
}

@media (width >= 992px) {
  .title-center {
    font-size: 48px;
  }
}

@media (width < 992px) {
  .title-center {
    font-size: 30px;
  }
}

.new-collection-wrapper {
  position: relative;
}

.btn__more-collection {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #0000001a;
  border-radius: 62px;
  padding: 16px 54px;
  font-family: var(--font-family);
  font-weight: 500;
}

@media (width > 992px) {
  .btn__more-collection {
    margin-top: 36px;
    margin-bottom: 64px;
    font-size: 16px;
  }
}

@media (width <= 992px) {
  .btn__more-collection {
    margin-top: 27px;
    margin-bottom: 40px;
    font-size: 14px;
    width: calc(100% - 2 * var(--container-padding));
  }
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (width >= 992px) {
  .price-list {
    gap: 10px;
  }
}

@media (width < 992px) {
  .price-list {
    gap: 5px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.price-discount {
  border-radius: 62px;
  padding: 6px 14px;
  background-color: #ff33331a;
  color: #f33;
}

@media (width < 992px) {
  .price-discount {
    padding: 3px 7px;
    font-size: 10px;
  }
}
